
.body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  .header{
    flex: 0 1 300px;
    background-image:  url("/assets/la-plaza-mayor.jpg");
    background-size: 100% 100%;
  }
  .main{
    flex: 1 1 0%;
    background-size: 100% 100%;

  }


}
